<aside>
<nav>     
<a id="intro" href="/">Introduction</a>
<a id="layout" href="/layout">Layout</a>
</nav>   
    <p>Colours</p>
    <nav>
        {% for colour in site.colours %}
        <a id="{{ colour.id }}" href="{{ colour.id }}">
          {{ colour.title }}
        </a>
        {% endfor %}
    </nav>
    <p>Components</p>
    <nav>
        {% for component in site.components %}
    <a id="{{ component.id }}" href="{{ component.id }}">
      {{ component.title }}
    </a>
    {% endfor %}
    </nav>
</aside>